$content-width: 800px;
$main: #6495ED;
$font-style: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-color: #6495ED;
$link-color: #000000;
$link-hover-color: $main;
$heading-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font-color: #6495ED;
$light: #F0F8FF;
$header:  #F0F8FF;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
